<!DOCTYPE html>

<html>

<head>
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/archivo1.png">
    </div>

    {{>footer}}
</body>

</html>